/* FONTS */
/* GENERAL */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.black_window {
  height: 100vh;
  background-color: #050a58;
}

.window {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-header {
  padding: 17px 20px;
  -webkit-box-shadow: -2px 7px 10px 1px rgba(34, 60, 80, 0.2);
          box-shadow: -2px 7px 10px 1px rgba(34, 60, 80, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bell-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bell-messages button {
  background-color: #fff;
  border: none;
  font-size: 20px;
  margin-right: 10px;
}

.people__img {
  padding: 20px;
}

.hero {
  padding: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.hero .bxs-user {
  font-size: 40px;
}

.s-input {
  color: rgba(24, 18, 18, 0.562);
  font-size: 15px;
  border: none;
}

.s-input:focus {
  outline: none;
}

.employee {
  padding: 30px;
}

.employee__box {
  -webkit-box-shadow: 0px 2px 6px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 2px 6px 2px rgba(34, 60, 80, 0.2);
  padding: 20px;
}

.input__div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  border-radius: 5px;
  border: 2px solid rgba(192, 190, 190, 0.349);
  padding: 10px;
}

.input__div:focus {
  border: 2px solid rgba(14, 5, 136, 0.445);
}

.input__div .bx {
  font-size: 20px;
}

.input__item {
  width: 100%;
  border: none;
}

.input__item:focus {
  outline: none;
}

.modal__link {
  padding: 10px;
  text-decoration: none;
  border: 1px solid #140788;
}

.btn__modal {
  color: #1a0d94;
  height: 40px;
  padding: 0 !important;
  width: 150px;
  border: 1px solid #220aa8;
}

.btn__modal:hover {
  background-color: rgba(236, 235, 235, 0.521);
}

.employee__box {
  background-color: #fff;
}

.employee__inputs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employee {
  height: 100%;
  background-color: rgba(159, 172, 216, 0.151);
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.list {
  width: 100%;
  background-color: rgba(11, 34, 240, 0.171);
  margin: 10px 0 !important;
  font-weight: 600;
  list-style: none;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__item {
  cursor: pointer;
  color: rgba(4, 31, 117, 0.527);
}

.list__item:hover {
  color: rgba(4, 30, 117, 0.877);
}

.modal-content {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  width: 800px !important;
}

.form-check {
  margin-right: 10px;
}

.modal-body {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__input-item {
  border: 1px solid rgba(0, 0, 0, 0.253);
  width: 350px !important;
  padding: 10px;
  margin: 10px;
}

.form-select {
  margin: 5px;
  padding: 10px;
  width: 350px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
/*# sourceMappingURL=main.css.map */